.flag {
    display: flex;
    justify-content: center;

}

.match {
    width: 16em;
    height: 12em;
    padding-top: 2em;
    /* padding-left: 2em; */
    border-radius: 5px;
    border: 1px solid #E8E8E8;


}

.match-detail {
    display: grid;
    justify-content: center;
}

.match-time {
    color: gray;
    font-size: 14px;
    margin-left: 18px;
    line-height: 1px;
}

@media only screen and (max-width:688px) {
    .match {
        margin-bottom: 15px;
        margin-left: 150px;
        width: 25em;
    }
}